.lead__image {
  object-fit: cover;
  width: 100%;
  margin: 64px 0 0;
}

@media screen and (max-width: 1050px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 350px) {
  .lead__image {
    margin-top: 40px;
  }
}
