.lead__subtitle {
  padding: 0;
  max-width: 640px;
  width: 100%;
  min-height: 72px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px 172px 0;
}

@media screen and (max-width: 1050px) {
  .lead__subtitle {
    margin-left: 144px;
    margin-right: 144px;
  }
}

@media screen and (max-width: 800px) {
  .lead__subtitle {
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media screen and (max-width: 750px) {
  .lead__subtitle {
    max-width: 288px;
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px 14px 0 18px;
  }
}
