.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  justify-content: center;
  margin: 245px 0 0;
  max-width: 560px;
  padding: 0;
}

@media screen and (max-width: 1050px) {
  .cover__title {
    margin: 195px 0 0;
  }
}

@media screen and (max-width: 800px) {
  .cover__title {
    margin: 115px 0 0;
  }
}

@media screen and (max-width: 635px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 33px 0 0;
    max-width: 288px;
  }
}
